In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200803104141-0000
KERNEL_ID = f0196edf-4182-42bb-94c1-f49b3e7f1828

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1,ITCS 113,Computer Programming I,Mandatory,NaN,5.0,12.0
1,2,MATHS 121,Calculus and Analytic Geometry I,Mandatory,NaN,5.0,12.0
2,3,CHEMY 101,General Chemistry I,Mandatory,NaN,5.0,15.0
3,4,PHYCS 101,General Physics I,Mandatory,NaN,5.0,16.0
4,5,BILOS 102,General Biology I,Mandatory,NaN,5.0,16.0